---
import { getAboutMe } from "../../utils/sanity";
import { PortableText } from "astro-portabletext";

const aboutMe = await getAboutMe();
---

<section class="space-y-6 pb-16">
  <h2 class="text-4xl font-bold text-primary">About me</h2>
  <div class="space-y-4">
    <PortableText value={aboutMe} />
  </div>
</section>
