<section class="space-y-6 pb-16">
  <h2 class="text-4xl font-bold">About me</h2>
  <div class="space-y-4">
    <p>
      Hi! I’m a 20-year-old dedicated student pursuing a <strong
        >BSc in Informatics and Computing Engineering</strong
      > with a strong passion for <strong>software development</strong>. I enjoy
      overseeing and developing new software and find fulfillment in guiding
      others, sharing knowledge, and collaborating on meaningful projects.
    </p>
    <p>
      I thrive in environments that encourage <strong
        >learning and growth</strong
      >, believing that sharing ideas and experiences enhances the development
      process. I’m always eager to explore new technologies and create solutions
      that can make a <strong>positive impact</strong> in the world.
    </p>
  </div>
</section>
