---
import { PortableText } from 'astro-portabletext';
import { getPersonalInfo } from '../../utils/sanity';

const personalInfo = await getPersonalInfo();
---

<section class="space-y-6 pb-16">
  <h2 class="text-4xl font-bold text-primary">About me</h2>
  <div class="space-y-4">
    <PortableText value={personalInfo.aboutMe} />
  </div>
</section>
