---
import { Image } from "astro:assets";

import profilePicture from "../../assets/images/profile.jpeg";
import LogoGithub from "../../assets/icons/LogoGithub.astro";
import LogoInstagram from "../../assets/icons/LogoInstagram.astro";
import LogoLinkedin from "../../assets/icons/LogoLinkedIn.astro";
import LogoTwitter from "../../assets/icons/LogoTwitter.astro";

import LocationIcon from "../../assets/icons/LocationIcon.astro";
import MailIcon from "../../assets/icons/MailIcon.astro";
import LinkIcon from "../../assets/icons/LinkIcon.astro";

import Button from "../../components/Button.astro";
---

<header class="space-y-8">
  <div class="space-y-4">
    <Image
      src={profilePicture}
      alt="Profile Picture"
      width="150"
      height="150"
      class="rounded-full"
    />
    <div class="space-y-2">
      <h2 class="font-bold text-4xl">João Santos</h2>
      <h3 class="text-xl">Full-stack web developer</h3>
    </div>
    <ul class="space-y-4">
      <li class="flex items-center gap-2">
        <LocationIcon />
        <span>Porto, Portugal</span>
      </li>
      <li class="flex items-center gap-2">
        <MailIcon />
        <span>jpnsantos14@gmail.com</span>
      </li>
    </ul>
    <p class="text-sm">
      My passion is to build not only beautiful, but also functional websites
      and applications.
    </p>
  </div>
  <ul class="flex items-center gap-4">
    <Button href="cv.pdf" target="_blank">
      <LinkIcon />
      Resume
    </Button>
    <div class="flex items-center gap-2">
      <Button
        href="ww.google.com"
        target="_blank"
        size="icon"
        style="secondary"
      >
        <LogoGithub />
      </Button>
      <Button
        href="ww.google.com"
        target="_blank"
        size="icon"
        style="secondary"
      >
        <LogoLinkedin />
      </Button>
      <Button
        href="ww.google.com"
        target="_blank"
        size="icon"
        style="secondary"
      >
        <LogoInstagram />
      </Button>
      <Button
        href="ww.google.com"
        target="_blank"
        size="icon"
        style="secondary"
      >
        <LogoTwitter />
      </Button>
    </div>
  </ul>
</header>
