---
import Badge from "../Badge.astro";
import { getSkills } from "../../utils/sanity";

const skills = await getSkills();
---

<section class="space-y-8 pb-16">
  <h2 class="text-4xl text-primary font-bold">Skills</h2>
  <div class="space-y-6">
    {skills.map((skill) => (
      <div class="space-y-4">
        <h3 class="text-2xl font-semibold">{skill.title}</h3>
        <div class="flex flex-wrap gap-1">
          {skill.skills.map((item) => (
            <Badge color={skill.color}>{item}</Badge>
          ))}
        </div>
      </div>
    ))}
  </div>
</section>
