---
interface Props {
  color?: "blue" | "green" | "red" | "yellow";
}

const { color = "blue" } = Astro.props;

const colorClasses = {
  blue: "bg-blue-400 text-blue-500 border-blue-500",
  green: "bg-green-400 text-green-600 border-green-600",
  red: "bg-red-300 text-red-400 border-red-400",
  yellow: "bg-yellow-300 text-yellow-600 border-yellow-500",
};
---

<span
  class={`flex items-center justify-center bg-opacity-20 min-w-20 hover:bg-opacity-30 transition-colors px-3 py-1 text-sm font-semibold mr-2 mb-2 rounded-full border ${colorClasses[color]}`}
>
  <slot />
</span>
