---
interface Props {
  href: string;
  target?: "_blank" | "_self";
  style?: "primary" | "secondary";
}

const { href, target = "_self", style = "primary" } = Astro.props;
const rel = target === "_blank" ? "noopener noreferrer" : "";

const styleClasses = {
  primary: "bg-foreground text-background",
  secondary: "bg-background text-foreground border-2 border-foreground",
};
---

<a
  href={href}
  target={target}
  rel={rel}
  class={`py-3 px-6 rounded-full font-semibold ${styleClasses[style]}`}
>
  <slot />
</a>
