---
import Header from "../components/sections/Header.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="container px-4 bg-background text-foreground">
    <div class="grid lg:grid-cols-3 gap-y-8 lg:gap-24">
      <div class="lg:sticky lg:top-0 py-16 lg:self-start">
        <Header />
      </div>
      <main class="col-span-2 overflow-y-auto py-16">
        <slot />
      </main>
    </div>
  </body>
</html>
